<section ng-controller="DataController" id="data-main-section">
    <div class="container">
        <h1 class="title"><span><img id="back-icon" src="../static/icons/icons8-go-back-28.png" alt="" ng-click="redirectToHome()"></span>
            Data</h1>
        <div id="data-banner">
            <img src="../static/icons/icons8-database-100.png" alt="">
            <center>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, fugiat libero saepe eos
                exercitationem impedit perspiciatis, eum dolorem ullam qui suscipit voluptatibus illum? Doloribus
                consectetur totam error, voluptate numquam nihil.
            </center>
        </div>
        <hr id="separator">
        <div id="data-btn-wrapper">
            <center>
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <a id="data-recognize-cards" class="card" ng-click="centralData()">
                                <div id="image-box">
                                    <img src="../static/icons/icons8-mind-map-100.png" alt="">
                                </div>
                                <div id="label-wrapper">
                                    <h6 id="label">Central</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <a id="data-recognize-cards" class="card" ng-click="loginData()">
                                <div id="image-box">
                                    <img src="../static/icons/icons8-login-100.png" alt="">
                                </div>
                                <div id="label-wrapper">
                                    <center>
                                        <h6 id="label">Login</h6>
                                    </center>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <a id="data-recognize-cards" class="card" ng-click="logoutData()">
                                <div id="image-box">
                                    <img src="../static/icons/icons8-logout-rounded-left-100.png" alt="">
                                </div>
                                <div id="label-wrapper">
                                    <center>
                                        <h6 id="label">Logout</h6>
                                    </center>
                                </div>
                            </a>
                        </div>
                    </div>
            </center>
        </div>
    </div>
</section>