<section ng-controller="AddFacesController" id="addfaces-main-section">
    <div class="container">
        <h1 class="title"><span><img id="back-icon" src="../static/icons/icons8-go-back-28.png" alt="" ng-click="redirectToHome()"></span>
            Add Faces</h1>

        <center>
            <div id="progress-bar-wrapper">
                <ul id="progress-bar-one">
                    <li class="active">Personal</li>
                    <li>Department</li>
                    <li>Capture</li>
                </ul>
            </div>
        </center>
        <center>
            <div id="form-wrapper">
                <h4>Personal Information</h4>
                <form action="">
                    <input type="text" class="form-control" placeholder="Employee ID" ng-model='emp.employeeid'>
                    <input type="text" class="form-control" placeholder="Firstname" ng-model='emp.firstname'> 
                    <input type="text" class="form-control" placeholder="Lastname">
                    <input type="text" class="form-control" placeholder="Phone">
                    <input type="text" class="form-control" placeholder="Email">
                    <div id="btn-wrapper">
                        <a href="#!/addfacestwo" class="btn btn-primary" id="next-btn" ng-click="test1(emp)">Next</a>
                    </div>
                </form>
            </div>
        </center>
        <br>
    </div>
</section>