<section ng-controller="DashboardController" id="dashboard-main-section">
    <div class="container">
        <h1 class="title">Dashboard</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, saepe atque! Voluptate sint quas
            consequuntur beatae excepturi impedit maxime deleniti explicabo nihil odio, praesentium autem provident
            voluptates! Asperiores, optio perspiciatis!</p>
        <button class="btn btn-primary" ng-click="test()">Test</button>
    </div>
</section>