<section ng-controller="DashboardController" id="dashboard-main-section">
    <div class="container">
        <h1 class="title"><span><img id="back-icon" src="../static/icons/icons8-go-back-28.png" alt="" ng-click="redirectToHome()"></span>
            Dashboard</h1>
        <div id="dashboard-card-wrapper">
            <center>
                <div class="row">
                    <div class="col-lg-4">
                        <div>
                            <a id="dashboard-recognize-cards-one" class="card" ng-click="centralData()">
                                <div id="dashboard-image-box">
                                    <img src="../static/icons/icons8-database-100.png" alt="">
                                    <h3>100</h3>
                                </div>
                                <div id="dashboard-label-wrapper">
                                    <h6 id="label">Central</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <a id="dashboard-recognize-cards-two" class="card" ng-click="loginData()">
                                <div id="dashboard-image-box">
                                    <img src="../static/icons/icons8-logout-rounded-left-100.png" alt="">
                                    <h3>100</h3>
                                </div>
                                <div id="dashboard-label-wrapper">
                                    <h6 id="label">Logout</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div>
                            <a id="dashboard-recognize-cards-three" class="card" ng-click="logoutData()">
                                <div id="dashboard-image-box">
                                    <img src="../static/icons/icons8-login-100.png" alt="">
                                    <h3>100</h3>
                                </div>
                                <div id="dashboard-label-wrapper">
                                    <h6 id="label">Login</h6>
                                </div>
                            </a>
                        </div>
                    </div>
            </center>
            <br>
            <br>
            <center>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="big-cards">
                            <!-- Content Here -->
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="big-cards">
                            <!-- Content Here -->
                        </div>
                    </div>
                </div>
            </center>
        </div>
    </div>
</section>