<section ng-controller="RecognizeController" id="recognize-main-section">
    <div class="container">
        <h1 class="title"><span><img id="back-icon" src="../static/icons/icons8-go-back-28.png" alt="" ng-click="redirectToHome()"></span>
            Developer</h1>

        <div class="container">
            <div id="developer-wrapper">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="developer-cards">
                            <div class="container">
                                <div class="img-boxes">
                                    <center>
                                        <img src="../static/icons/icons8-customer-100.png" alt="">
                                    </center>
                                </div>
                                <div id="info-wrapper">
                                    <h6><img src="../static/icons/icons8-male-user-20.png" alt=""><span> Christian C.
                                            Pelayo</span></h6>
                                    <h6><img src="../static/icons/icons8-marker-20.png" alt=""><span> Cebu City,
                                            Philippines</span></h6>
                                    <h6><img src="../static/icons/icons8-gmail-20.png" alt=""><span>
                                            christianpelayo0824@gmail.com</span></h6>
                                    <h6><img src="../static/icons/icons8-touchscreen-20.png" alt=""><span> 09461453569</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="developer-cards">
                            <div class="container">
                                <div class="img-boxes">
                                    <center>
                                        <img src="../static/icons/icons8-customer-100.png" alt="">
                                    </center>
                                </div>
                                <div id="info-wrapper">
                                    <h6><img src="../static/icons/icons8-male-user-20.png" alt=""><span> Kirby
                                            Bonghanoy</span></h6>
                                    <h6><img src="../static/icons/icons8-marker-20.png" alt=""><span> Cebu City,
                                            Philippines</span></h6>
                                    <h6><img src="../static/icons/icons8-gmail-20.png" alt=""><span>
                                            christianpelayo0824@gmail.com</span></h6>
                                    <h6><img src="../static/icons/icons8-touchscreen-20.png" alt=""><span> 09461453569</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="developer-cards">
                            <div class="container">
                                <div class="img-boxes">
                                    <center>
                                        <img src="../static/icons/icons8-customer-100.png" alt="">
                                    </center>
                                </div>
                                <div id="info-wrapper">
                                    <h6><img src="../static/icons/icons8-male-user-20.png" alt=""><span> Johnny
                                            Caballes</span></h6>
                                    <h6><img src="../static/icons/icons8-marker-20.png" alt=""><span> Cebu City,
                                            Philippines</span></h6>
                                    <h6><img src="../static/icons/icons8-gmail-20.png" alt=""><span>
                                            christianpelayo0824@gmail.com</span></h6>
                                    <h6><img src="../static/icons/icons8-touchscreen-20.png" alt=""><span> 09461453569</span></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>