<section ng-controller="RecognizeController" id="recognize-main-section">
    <div class="container">
        <h1 class="title"><span><img id="back-icon" src="../static/icons/icons8-go-back-28.png" alt="" ng-click="redirectToHome()"></span>
            Developer</h1>

        <div class="container">
            <div id="developer-wrapper">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="developer-cards">
                            <div class="container">
                                <div class="img-boxes">
                                    <center>
                                        <img src="../static/icons/img1.png" alt="">
                                    </center>
                                </div>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et earum sapiente eos quo
                                commodi. Earum temporibus rerum iste, iure amet cupiditate iusto rem labore impedit
                                tenetur. Fugiat adipisci architecto id!
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="developer-cards">
                            <div class="container">
                                <div class="img-boxes">
                                    <center>
                                        <img src="../static/icons/img1.png" alt="">
                                    </center>
                                </div>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et earum sapiente eos quo
                                commodi. Earum temporibus rerum iste, iure amet cupiditate iusto rem labore impedit
                                tenetur. Fugiat adipisci architecto id!
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="developer-cards">
                            <div class="container">
                                <div class="img-boxes">
                                    <center>
                                        <img src="../static/icons/img1.png" alt="">
                                    </center>
                                </div>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et earum sapiente eos quo
                                commodi. Earum temporibus rerum iste, iure amet cupiditate iusto rem labore impedit
                                tenetur. Fugiat adipisci architecto id!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>